body {
    background-color: black;
}

/* classe + id */

#id-custom {
    color: white;
}

.h1-custom {
    color: white;
}

body {
    color: white;
}

header {
    background-color: turquoise;
    color : black;
}